<div class="container">
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-7 text-center">
      <h1>About</h1>
        <p>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-5 background-about"></div>
    <div class="col-3"></div>
  </div>
</div>