
<div class='container mb-5 mt-5 pt-5'>
  <div class="row">
    <h3 class='col-3 mb-5 mx-auto text-center bg-secondary text-white'>配送先編集</h3>
  </div>
    <div class="border border-info pt-4 row">
    <%= render "create", address: @address, btn: "変更内容を保存"%>
  </div>
</div>