
<div class='container pt-5'>
  <div class="row">
    <h3 class='col-3 mb-5 mx-auto text-center bg-secondary text-white'>配送先登録/一覧</h3>
  </div>
  <div class="border border-primary p-5">
   <div class='row'>
      <%= render "create", address: @address, btn: "新規登録"%>
    </div>
    <div>
      <%= render "index_addresses", addresses: @addresses%>
    </div>
  </div>
</div>