<div class="container">
  <div class="row">
    <h2 class="text-center col border border-warning" style="margin-top: 200px; padding: 150px;">
      <i class="fas fa-cash-register"></i>ご注文ありがとうございました♪
    </h2>
  </div>
</div>