<% if notice %>
	<div class="flash notice">
	  <span ="notice"><%= notice %></span>
	</div>
<% elsif flash[:success] %>
	<div class="flash success">
	  <% flash[:success]="ログインしました" %>
  	<span class="success"><%= flash[:success] %></span>
	</div>
<% elsif flash[:alert] %>
	<div class="flash danger">
	  <span class="alert"><%= flash[:alert] %></span>
	</div>
<% end %>
